body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
}

.main-nav {
    background-color: darkgrey;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    min-height: 50px;
}

.main-nav ul li {
    min-width: 150px;
}

header {
    height: 20vh;
    background-color: azure;
}

section {
    min-height: 80vh;
}

footer {
    height: 300px;
    background-color: black;
}

.main-section {
    padding-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: space-around;
}

.songs-section {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
}

.single-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.song-list div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.song-detail {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
}

.song-detail-pic{
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 40px;

}


.song-detail-info {
      margin-left: 40px;
}
.album-detail-pic {
    text-align: center;
}